body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:white;
    height: 80px;
    color: black;
    padding: 15px 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* đây là bóng */

}

.header-left {
    display: flex;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
    padding-left: 30px;
}
.logo h1 {
    font-size: 1.5rem;
}

.header-nav .nav-link {
    color: black;
    margin-left: 30px;
    text-decoration: none;
    font-size: 1rem;
    padding-left: 20px;
}

.header-nav .nav-link:hover {
    color: #d81323;
}

.icons a{
    padding: 10px;
    color: rgb(8, 4, 4);
}
.icons input {
  padding: 5px 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
}