* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.forgot-password , .verification{
    max-width: 500px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
    padding: 40px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}
.forgot-password__form , .verification__form{
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 10px;
}
.forgot-password__form h3 , .verification__form h3{
    font-size: 36px;
    margin: 0px;
}
.forgot-password__form p {
    font-size: 14px;
    color: #666;
    line-height: 1.4;
}
.forgot-password__form .forgot-password__description {
    display: flex;
    flex-direction: column;
}
.forgot-password__description .forgot-password__label {
    font-size: 14px;
    color: #1d3557;
}
.forgot-password__description .forgot-password__input {
    height: 45px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 6px;
}
.forgot-password__button ,.verification__button{
    height: 45px;
    background-color: #000;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.3s;
}
.forgot-password__button:hover ,.verification__button:hover {
    background-color: #333;
}
.verification__description {
    font-size: 14px;
    color: #666;
    line-height: 1.4;
}
.verification__input-group {
    display: flex;
    justify-content: center;
    gap: 15px;
}
.verification__input {
    width: 50px;
    height: 50px;
    text-align: center;
    font-size: 24px;
    border: 1px solid #ccc;
    border-radius: 6px;
    line-height: 50px;
    -moz-appearance: textfield;
}

.verification__input::-webkit-outer-spin-button,
.verification__input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.verification__countdown {
    color: red;
    font-size: 14px;
    text-align: center;
    margin-top: -10px;
}
/* Resend */
.verification__resend {
    font-size: 14px;
    color: #666;
    text-align: center;
}

.verification__resend a {
    color: red;
    text-decoration: none;
    margin-left: 5px;
}
